﻿
@model SchoolSystem.Core.VM.Memory_Pattern_AnswersFM
@{
    Layout = null;

}


@using (Html.BeginForm("Create", "Memory_Pattern_Answers", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اضافه او تعديل &nbsp; &nabla; </h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.ID)
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Answer  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Answer ....." }, id = "Answer" })
                                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Qustionsmean  </label>
                                    </div>
                                    <div class="col-md-4">

                                        @Html.DropDownListFor(x => Model.QustionID, (List<SelectListItem>)ViewBag.ListMemorymean, new { @class = "form-control" })

                                    </div>



                                </div>

                                <br />
                                <div class="row">

                                    <div class="col-md-2">
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Qustions  </label>
                                    </div>
                                    <div class="col-md-4">

                                        @Html.DropDownListFor(x => Model.Answer_MeanID, (List<SelectListItem>)ViewBag.ListTestCat, new { @class = "form-control" })

                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                   


                                </div>

                                <br />
               
                                

                                
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>
@*<script src="~/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Description');
</script>*@

