﻿
@model SchoolSystem.Core.VM.BodyVM
@{
    Layout = null;

}


@using (Html.BeginForm("Create", "Body", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اضافه او تعديل &nbsp; &nabla; </h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Details  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "التفاصيل ....." }, id = "Details" })
                                        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Address  </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "العنوان ....." }, id = "Title" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>



                                </div>
                                <br />
                                <div class="row">

                                    <div class="col-md-2">
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Case  </label>
                                    </div>
                                    <div class="col-md-4">

                                        <select class="form-control list-box tri-state" id="visable" name="visable">


                                            <option value="false">يعرض</option>
                                            <option value="false">لا يعرض</option>



                                        </select>  @Html.ValidationMessageFor(model => model.visable, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Main  </label>
                                    </div>
                                    <div class="col-md-4">

                                        <select name="main" class="form-control">
                                            <option value="True">نعم</option>
                                            <option value="False">لا</option>
                                        </select>
                                    </div>


                                </div>
                                <br />
                                <div class="row">
                                   


                                </div>

                                <br />
               
                                

                                
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>
@*<script src="~/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Description');
</script>*@

