﻿
@model SchoolSystem.Core.VM.CountersVM
@{
    Layout = null;

}


@using (Html.BeginForm("Create", "Counters", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اضافه او تعديل &nbsp; &nabla; </h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.CounterID)
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Address  </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Title" id="Title" type="text" value="@Model.Title" class="form-control" placeholder="العنوان بالاعربي ...." required />

                                    </div>
                                    <div class="col-md-2">
                                        <label>    @SchoolSystem.Localiztion.AgentResource.AddressEnglishe  </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="TitleEN" id="TitleEN" type="text" class="form-control" value="@Model.TitleEN" placeholder="العنوان بالانجليزي ...." required />
                                    </div>



                                </div>
                                <br />
                                <div class="row">

                                    <div class="col-md-2">
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Counters  </label>
                                    </div>
                                    <div class="col-md-4">

                                        <input name="Numbers" id="Numbers" type="number" value="@Model.Numbers" class="form-control" placeholder="العدد ...." required />

                                    </div>
                                    <div class="col-md-2">
                                        <label>    @SchoolSystem.Localiztion.AgentResource.Case  </label>
                                    </div>
                                    <div class="col-md-4">

                                        <select id="Activate" name="Activate" class="form-control" required>
                                            <option value="true">يعرض</option>
                                            <option value="false">لا يعرض</option>
                                        </select>
                                    </div>


                                </div>
                                <br />
                                <div class="row">
                                   


                                </div>

                                <br />
               
                                

                                
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>
@*<script src="~/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Description');
</script>*@

