﻿<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">@SchoolSystem.Localiztion.AgentResource.Main</li>

                @*<li>
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="waves-effect waves-primary">
                <i class="ti-home"></i><span>@GlobalRes.MainPage</span>
            </a>
        </li>*@

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @SchoolSystem.Localiztion.AgentResource.DashBoard </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "MainPage", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.MainPage</a></li>
                        <li><a href="@Url.Action("Index1", "Body", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Goalsandvision</a></li>
                        <li><a href="@Url.Action("Index1", "MNews", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.News</a></li>
                        <li><a href="@Url.Action("Index1", "Mservices", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Services</a></li>
                        <li><a href="@Url.Action("Index1", "MCareers", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Jobs</a></li>

                        <li><a href="@Url.Action("Index1", "MMagazine", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.MagazienMain</a></li>

                        <li><a href="@Url.Action("Index1", "Counters", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Counters</a></li>
                        <li><a href="@Url.Action("Index1", "SocialMedia", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.SocialMedia</a></li>
                        <li><a href="@Url.Action("Index1", "Agents", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Agents</a></li>
                        <li><a href="@Url.Action("Index1", "ClassGroups", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Educationalforums</a></li>
                        <li><a href="@Url.Action("Index1", "Image", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Images</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @SchoolSystem.Localiztion.AgentResource.ExameControle </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "Memory_Pattern_Answers", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.MemoryTestAnswers</a></li>
                        <li><a href="@Url.Action("Index1", "Memory_Pattern_Qustions", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.TestAnswers</a></li>
                        <li><a href="@Url.Action("Index1", "Memory_pattern_AnswerMean", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.memoryquestions</a></li>
                        <li><a href="@Url.Action("Index1", "memory_pattern_Test", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Testthememorypattern</a></li>
                        <li><a href="@Url.Action("Index1", "Test", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Aptitudetest</a></li>

                        <li><a href="@Url.Action("Index1", "Capabilitiesqustions", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.CapacityTestQuestions</a></li>

                        <li><a href="@Url.Action("Index1", "Game", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Gamesforthegiftedchild</a></li>
                        
                    </ul>
                </li>

                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Marketing  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequest", new { area = "Marketing" })">@GlobalRes.Order</a></li>
            </ul>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.PriceOffers  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequestOffer", new { area = "Marketing" })">@GlobalRes.OrderInput</a></li>

            </ul>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Contracts  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequestContract", new { area = "Marketing" })">@GlobalRes.Contracts @Model.</a></li>

            </ul>
        </li>*@
                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Analysis  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Running  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.SupportRequests  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Engineers  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Visits  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>*@

            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>