﻿
@model IEnumerable<SchoolSystem.Core.VM.MainPageVM>

@{ 
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@SchoolSystem.Localiztion.AgentResource.ID</th>
                        <th>@SchoolSystem.Localiztion.AgentResource.Address </th>
                        <th>@SchoolSystem.Localiztion.AgentResource.Image </th>
                        <th>@SchoolSystem.Localiztion.AgentResource.Type </th>
                        <th>@SchoolSystem.Localiztion.AgentResource.Case </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Title</td>
                        <td> <img src="~/@item.PhotoPath" style="width:150px;height:150px;" /></td>
                        <td>@item.type</td>
                        @if (item.ISActive == true)
                        {
                        <td>يعرض</td>
                        }
                        else
                        {
                        <td>لا يعرض</td>
                        }
                        <td>
                            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog fa-lg"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-xs pull-left">
                                    <li class="text-align-center">
                                        <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.ID)">تعديل</button>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="text-align-center">
                                        <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.ID)"> حذف</button>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="text-align-center">
                                        <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">الغاء</a>
                                    </li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




