﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
            <h3 class="text-success counter m-t-10">2562</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.MainPage</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="75%" data-width="5" data-fontsize="14" data-percent="75" data-fgcolor="#3bafda" data-bgcolor="#ebeff2"></div>
            <h3 class="text-primary counter m-t-10">5685</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Goalsandvision</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="58%" data-width="5" data-fontsize="14" data-percent="58" data-fgcolor="#f76397" data-bgcolor="#ebeff2"></div>
            <h3 class="text-pink m-t-10">$ <span class="counter">12480</span></h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.News</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="49%" data-width="5" data-fontsize="14" data-percent="49" data-fgcolor="#98a6ad" data-bgcolor="#ebeff2"></div>
            <h3 class="text-inverse counter m-t-10">62</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Services</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
            <h3 class="text-success counter m-t-10">2562</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Jobs</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="75%" data-width="5" data-fontsize="14" data-percent="75" data-fgcolor="#3bafda" data-bgcolor="#ebeff2"></div>
            <h3 class="text-primary counter m-t-10">5685</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.MagazienMain</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="58%" data-width="5" data-fontsize="14" data-percent="58" data-fgcolor="#f76397" data-bgcolor="#ebeff2"></div>
            <h3 class="text-pink m-t-10">$ <span class="counter">12480</span></h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Countiers</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="49%" data-width="5" data-fontsize="14" data-percent="49" data-fgcolor="#98a6ad" data-bgcolor="#ebeff2"></div>
            <h3 class="text-inverse counter m-t-10">62</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.SocialMedia</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
            <h3 class="text-success counter m-t-10">2562</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Agents</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="75%" data-width="5" data-fontsize="14" data-percent="75" data-fgcolor="#3bafda" data-bgcolor="#ebeff2"></div>
            <h3 class="text-primary counter m-t-10">5685</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Educationalforums</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="58%" data-width="5" data-fontsize="14" data-percent="58" data-fgcolor="#f76397" data-bgcolor="#ebeff2"></div>
            <h3 class="text-pink m-t-10">$ <span class="counter">12480</span></h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Images</p>
        </div>
    </div>


</div>


<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
            <h3 class="text-success counter m-t-10">2562</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.MemoryTestAnswers</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="75%" data-width="5" data-fontsize="14" data-percent="75" data-fgcolor="#3bafda" data-bgcolor="#ebeff2"></div>
            <h3 class="text-primary counter m-t-10">5685</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.TestAnswers</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="58%" data-width="5" data-fontsize="14" data-percent="58" data-fgcolor="#f76397" data-bgcolor="#ebeff2"></div>
            <h3 class="text-pink m-t-10">$ <span class="counter">12480</span></h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.memoryquestions</p>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
            <h3 class="text-success counter m-t-10">2562</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Testthememorypattern</p>
        </div>
    </div>


</div>

<div class="row">


    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="75%" data-width="5" data-fontsize="14" data-percent="75" data-fgcolor="#3bafda" data-bgcolor="#ebeff2"></div>
            <h3 class="text-primary counter m-t-10">5685</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Aptitudetest</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="58%" data-width="5" data-fontsize="14" data-percent="58" data-fgcolor="#f76397" data-bgcolor="#ebeff2"></div>
            <h3 class="text-pink m-t-10">$ <span class="counter">12480</span></h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.CapacityTestQuestions</p>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
            <h3 class="text-success counter m-t-10">2562</h3>
            <p class="text-muted text-nowrap m-b-10">@SchoolSystem.Localiztion.AgentResource.Gamesforthegiftedchild</p>
        </div>
    </div>


</div>


